{
  "extends": "react-app",
  "plugins": ["react-redux", "import"],
  "rules": {
    "sort-imports": ["warn"],
    "react-redux/connect-prefer-minimum-two-arguments": ["warn"],
    "react-redux/connect-prefer-named-arguments": ["warn"],
    "react-redux/mapDispatchToProps-returns-object": ["warn"],
    "react-redux/mapDispatchToProps-prefer-parameters-names": ["warn"],
    "react-redux/mapStateToProps-no-store": ["warn"],
    "react-redux/mapStateToProps-prefer-hoisted": ["warn"],
    "react-redux/mapStateToProps-prefer-parameters-names": ["warn"],
    "import/no-unresolved": ["error"],
    "import/named": ["error"],
    "import/default": ["error"],
    "import/namespace": ["error"],
    "import/no-absolute-path": ["error"],
    "import/no-dynamic-require": ["error"],
    "import/no-webpack-loader-syntax": ["error"],
    "import/no-self-import": ["error"],
    "import/no-cycle": ["error"],
    "import/no-useless-path-segments": ["warn"],
    "import/export": ["error"],
    "import/no-named-as-default": ["warn"],
    "import/no-named-as-default-member": ["warn"],
    "import/no-deprecated": ["warn"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.{spec,test}.js"],
        "optionalDependencies": false
      }
    ],
    "import/no-mutable-exports": ["warn"],
    "import/unambiguous": ["warn"],
    "import/no-commonjs": ["error"],
    "import/no-amd": ["error"],
    "import/no-nodejs-modules": ["error"],
    "import/first": ["warn"],
    "import/exports-last": ["warn"],
    "import/no-duplicates": ["warn"],
    "import/extensions": ["warn", "never", { "css": "always" }],
    "import/newline-after-import": ["warn"],
    "import/no-unassigned-import": ["warn", { "allow": ["**/*.{s{a,c},c}ss"] }],
    "import/no-named-default": ["error"]
  }
}
